.faqs a {
  color: transparent;
  background-color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.faqs a:hover {
  color: black;
}
.card-img-overlay {
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
  background-color: aquamarine;
}

.card:hover .card-img-overlay {
  opacity: 5;
}

.grid {
  display: grid;
}

.gap-4 {
  gap: 1rem;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.sm\:grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

#map {
  height: 100%;
}

/*Schedule*/
.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow: hidden;
}
th,
td {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.container-G {
  /* max-width: 800px; */
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  background-color: #000;
}
.day-button {
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
}
@media screen and (max-width: 600px) {
  .schedule-table {
    font-size: 14px;
  }
}
th {
  background-color: #333;
  color: #fff;
}


/*
.custom-team-section {
    font-family: "Open Sans", sans-serif;

}
.team .member {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
}
.team .member .member-img {
    position: relative;
    overflow: hidden;
    width: 2579px;
    height: 3253px;

} */
